body {
  font-family: 'Roboto';
}

.gridLayout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90vh 42vh 85vh 70px;
  grid-template-areas: 'navs' 'more' 'shop' 'footer';
}

.main {
  grid-area: navs;
  position: relative;
}

.header {
  grid-area: navs;

  z-index: 1;
  display: grid;
  position: relative;
  grid-template-rows: 1fr 4fr 6fr;
  grid-template-columns: 5fr 1fr 3fr 1fr;
  grid-template-areas: 'nav-left . nav-right slide-description' 'toggle-menu . product slide-description' '. . product slide-description';

  .header__nav--left {
    grid-area: nav-left;

    z-index: 99;
    display: flex;
    margin-top: 5%;
    margin-left: 38%;
  }

  .header__nav--right {
    grid-area: nav-right;

    width: 69%;
    // display: flex;
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 8%;
    text-transform: uppercase;
    justify-content: space-between;

    a {
      align-items: center;
      text-decoration: none;
      color: $themeColor-White;
    }

    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
    }
  }
}

.menu-hamburguer {
  width: 23px;
  height: auto;
  cursor: pointer;
  margin-top: -2%;
  transition: all 0.2s;
  background-size: 1.3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/svgs/icon_hamburguer.svg);
}

.menu-hamburguer:hover {
  background-image: url(/svgs/icon_hamburguerhover.svg);
}

.menu-hamburguer--inactive {
  grid-area: toggle-menu;

  top: 4%;
  left: 33.5%;
  width: 420px;
  height: 190px;
  display: none;
  position: absolute;
  margin-right: -10%;
}

.menu-hamburguer--inactive:before {
  width: 0;
  height: 0;
  content: '';
  display: block;
  margin-top: -19px;
  margin-left: 31px;
  transition: all 0.3s ease;
  border: 9px solid transparent;
  border-bottom-color: $themeColor-Light;
}

.menu-hamburguer--active {
  height: 100%;
  display: flex;
  color: $themeColor-White;
  background-color: $themeColor-Dark;
  border: solid 1px $themeColor-Light;
  box-shadow: 7px 8px $themeColor-Light;

  .fight,
  .action-adventure,
  .race {
    width: 33%;
    height: 100%;
    display: flex;
    text-align: left;
    line-height: 26px;
    margin-left: 25px;
    flex-direction: column;

    h1 {
      margin-top: 17%;
      font-size: 0.8rem;
      font-weight: bold;
    }

    ul li {
      font-size: 0.7rem;
      width: fit-content;
      font-weight: lighter;
      transition: all 0.3s ease;
    }

    ul li:hover {
      text-decoration: underline;
      transform: translateX(7px);
    }

    a {
      text-decoration: none;
      color: $themeColor-White;
    }
  }
}

.logo-n1 {
  width: 50px;
  margin-top: -1.7%;
  margin-left: 26.5px;
  background-size: 2.7rem;
  background-repeat: no-repeat;
  background-image: url(/images/logo_header.png);
}

.nav__item {
  position: relative;

  a {
    display: flex;
    transition: 0.3s all;
  }

  a:hover {
    color: $themeColor-Light;
  }

  p {
    padding-top: 9%;
  }
}

.nav__item:after {
  content: '';
  width: 1px;
  height: 18px;
  display: block;
  margin-top: -22%;
  margin-left: 139%;
  background: $themeColor-White;
}

.nav__item:last-child:after {
  display: none;
}

.paper-plane,
.search,
.bag {
  width: 26px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.paper-plane {
  background-size: 1.4rem;
  background-image: url(/svgs/paper-plane.svg);
}

.search {
  background-size: 1.1rem;
  background-image: url(/svgs/search-solid.svg);
}

.bag {
  background-size: 1rem;
  background-image: url(/svgs/shopping-bag-solid.svg);
}

.bag-count {
  top: 5.6%;
  width: 13px;
  right: -20%;
  height: 13px;
  display: none;
  font-size: 0.6rem;
  position: absolute;
  border-radius: 50%;
  color: $themeColor-White;
  background: $themeColor-Light;

  span {
    display: block;
    margin: 10% 0 0 1%;
  }
}

.slick-track {
  height: 90vh;
}

.slide-1,
.slide-2 {
  background-size: cover;
  background-position: top;

  h1 {
    font-weight: 700;
    font-size: 2.1rem;
    margin-bottom: 0.5rem;
    color: $themeColor-White;
    text-transform: uppercase;
  }

  p {
    width: 26%;
    font-size: small;
    text-align: justify;
    line-height: 1.2rem;
    color: rgb(151, 151, 151);
  }
}

.slide-1 {
  background-image: url(/images/principal_banner_desktop.jpg);
}

.slide-2 {
  background-image: url(/images/principal_banner_desktop_02.jpg);
}

.gridBanner {
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: 'product-description slider-btn';
}

.slide-description {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  grid-area: slide-description;

  p {
    color: $themeColor-White;
    text-transform: uppercase;
  }
}

.slide__description--cointainer {
  top: 25%;
  width: 50%;
  height: 50%;
  display: flex;
  position: absolute;
  flex-direction: column;
}

.product-name,
.slider-button {
  width: 100%;
}

.product-name {
  height: 50%;
  background-color: $themeColor-Light;

  p {
    margin-top: 40%;
    margin-left: 40%;
    font-size: small;
    font-weight: normal;
    writing-mode: vertical-lr;
  }
}

.line-background {
  height: 20%;
  background-color: $themeColor-Light;
}

.line {
  width: 1px;
  height: 80%;
  min-height: 0;
  margin-top: -10%;
  margin-left: 50%;
  background-color: #fff;
}

.slider-button {
  top: 60%;
  height: 30%;
  justify-self: right;
  background-color: $themeColor-Dark;

  p {
    margin-top: 27%;
    font-size: small;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1rem;
  }
}

.product-description {
  grid-area: product-description;

  width: 97%;
  display: flex;
  margin-top: -2%;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;

  .banner-price {
    width: 30%;
    display: flex;
    justify-content: flex-end;

    h2 {
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 0.6rem;
      color: $themeColor-Light;
    }

    h3 {
      padding-top: 3%;
      font-weight: 600;
      font-size: 1.4rem;
      color: $themeColor-Light;
    }
  }
}

.slick-next,
.slick-prev {
  top: 70%;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: transparent;
  background-size: 0.45rem;
  background-repeat: no-repeat;
}

.slick-next {
  left: 98%;
}

.slick-prev {
  left: 96.5%;
}

.slick-prev:before {
  background-image: url(/svgs/angle-left-solid.svg);
}

.slick-next:before {
  background-image: url(/svgs/angle-right-solid.svg);
}

.more {
  z-index: 0;
  display: flex;
  grid-area: more;
  margin-top: -3vh;
  align-items: flex-start;
  justify-content: center;

  .more__plus {
    height: 100%;
    display: flex;
    max-width: auto;
    max-height: 38vh;
    margin: 0 0.45rem;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;

    .more__plus--triangle {
      width: 0;
      right: 0;
      height: 0;
      bottom: 0;
      cursor: pointer;
      position: absolute;
      border: 30px solid transparent;
      border-right-color: $themeColor-Light;
      border-bottom-color: $themeColor-Light;
    }
  }

  img {
    cursor: pointer;
    max-width: auto;
    max-height: 38vh;
    transition: 0.3s all ease;
  }

  .more__plus:hover {
    transform: scale(1.05);
  }
}

.more__plus--triangle {
  right: 0;
  height: 0;
  bottom: 0;
  cursor: pointer;
  width: fit-content;
  position: absolute;
  border: 30px solid transparent;
  border-right-color: $themeColor-Light;
  border-bottom-color: $themeColor-Light;
}

.plus-ultra {
  top: 12px;
  left: 7px;
  width: 14px;
  height: 3px;
  display: block;
  position: relative;
  border-radius: 2px;
  background: $themeColor-White;
}

.plus-ultra:before {
  width: 100%;
  content: '';
  height: 100%;
  display: block;
  border-radius: 2px;
  transform: rotate(90deg);
  background: $themeColor-White;
}

.shop {
  grid-area: shop;

  .featured-products-wrapper {
    max-width: 890px;
    margin: 0 auto;
    width: 90%;
  }

  .featured-products {
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 3%;
    // margin-left: -47%;
    color: $themeColor-Dark;
  }

  .featured-products:before {
    content: '';
    width: 17px;
    height: 17px;
    display: block;
    margin-right: 0.7vw;
    display: inline-block;
    background: $themeColor-Light;
  }
}

.shop-items-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.shop-items {
  width: 65.9%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .product-layout {
    height: 70%;
    width: 23.75%;
    display: flex;
    flex-direction: column;

    .product-image {
      width: 100%; /*284px*/ /*300px*/
      background-color: rgba(204, 204, 204, 0.39);
    }

    p {
      margin-top: 10%;
      text-align: left;
      font-size: 0.9rem;
      color: $themeColor-Dark;
    }

    h3 {
      text-align: left;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 8%;
      color: $themeColor-Dark;
    }

    button {
      width: 100%;
      border: none;
      padding: 11px 0;
      font-size: 0.8em;
      font-weight: bold;
      align-self: center;
      border-radius: 4px;
      outline: transparent;
      color: $themeColor-White;
      text-transform: uppercase;
      background: $themeColor-Light;
      transition: all 0.1s ease-in-out;
    }

    button:hover {
      color: $themeColor-Light;
      background-color: #fff;
      border: solid #3ec5e0ad 1px;
      animation: pulse-blue 2s infinite;
    }

    button:active {
      transform: translateY(3px);
    }
  }
}

.product-layout:hover .product-image {
  animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
  1% {
    box-shadow: 0 0 0 1px #3ec5e065;
  }

  99% {
    box-shadow: 0 0 0 7px #3ec5e000;
  }

  100% {
    box-shadow: 0 0 0 0 #3ec5e000;
  }
}

.footer {
  grid-area: footer;

  display: flex;
  font-weight: 600;
  line-height: 70px;
  font-size: 0.7rem;
  color: $themeColor-White;

  .footer__area--1 {
    width: 26.8%;
    display: flex;
    justify-content: flex-end;
    background-color: $themeColor-Dark;
  }

  .footer__area--2 {
    width: 73.2%;
    display: flex;
    justify-content: flex-start;
    background-color: $themeColor-Light;
  }
}

.logo {
  width: 60px;
  margin: 4.65% 9.5% 0 0;
  background-size: 3.5rem;
  background-repeat: no-repeat;
  background-image: url(/images/logo_header.png);
}

.copyright {
  margin: 0 0 0 2.5%;
}

#modal {
  top: -25%;
  width: 13%;
  height: 37%;
  display: none;
  padding-top: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url(/svgs/✌.svg);
  background-position: top 50px right 50%;

  p {
    margin-top: 100%;
  }
}

.modal a.close-modal {
  top: 12.5px;
  width: 23px;
  height: 23px;
  right: 12.5px;
  background-image: url(/svgs/close_btn.svg);
}
