/*
 *******************
 *  MEDIA QUERIES  *
 *******************
*/

/* EXTRA LARGE DISPLAY */

@media only screen and (max-width: 2400px) and (min-width: 1500px) {
}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1200px) and (min-width: 300px) {
}

/* MEDIA FOR TABLET DISPLAY */

@media only screen and (max-width: 992px) and (min-width: 300px) {
}

/* MEDIA FOR MEDIUM MOBILE DISPLAY */

@media only screen and (max-width: 768px) and (min-width: 300px) {
}

/* MEDIA FOR LITTLE MOBILE DISPLAY */

@media only screen and (max-width: 480px) and (min-width: 300px) {
  .gridLayout {
    grid-template-rows: 503px 450px 85vh 70px;
  }

  .menu-hamburguer--inactive {
    display: block;
    z-index: 9;
    top: 0;
    left: -100vw;
    position: fixed;
    transition: all ease-in 250ms;
  }

  .menu-hamburguer--inactive.active {
    left: 0;
  }

  .menu-hamburguer--active {
    padding: 10% 0 0 0;
    width: 100vw;
    border: none;
    height: 100vh;
    display: flex;
    box-shadow: none;
    flex-direction: column;
    color: $themeColor-White;
    background-color: $themeColor-Dark;
    overflow-y: scroll;

    .fight,
    .action-adventure,
    .race {
      // width: 33%;
      // height: 100%;
      height: auto;
      display: flex;
      text-align: left;
      line-height: 26px;
      margin-left: 0;
      padding-left: 20px;
      flex-direction: column;
      border-bottom: solid 1px #003344;
      width: 100%;
      padding-bottom: 5%;

      h1 {
        margin-top: 15%;
        font-size: 16px;
        font-weight: bold;
      }

      ul li {
        font-size: 14px;
        font-weight: lighter;
        transition: all 0.3s ease;
        padding: 2% 0;
        padding-left: 2%;
        width: 100%;
      }

      ul li:hover {
        background-color: $themeColor-Light;
        text-decoration: none;
      }

      ul li:hover a {
        color: $themeColor-Dark;
        font-weight: bold;
      }

      a {
        text-decoration: none;
        color: $themeColor-White;
      }
    }
  }

  .menu-hamburguer--inactive:before {
    display: none;
  }

  .logo-n1 {
    margin-top: 5%;
    height: 36px;
  }

  .header {
    grid-template-rows: 1fr 4fr 6fr 67px;
    grid-template-columns: 5fr 1fr 3fr 1fr;
    grid-template-areas: 'nav-left . nav-right slide-description' 'toggle-menu . product slide-description' '. . product slide-description' 'slide-description-mobile slide-description-mobile slide-description-mobile slide-description-mobile';

    .header__nav--left {
      margin-top: 5%;
      margin-left: 13%;
    }

    .header__nav--right {
      z-index: 10;
      width: 100%;
      margin-top: 17%;
    }
  }

  .menu-hamburguer {
    width: 29px;
    margin-top: 7%;
    background-size: 1.7rem;
  }

  .logo-n1 {
    width: 60px;
    background-size: 3.5rem;
  }

  .nav__item-text {
    display: none;
  }

  .nav__item:after {
    display: none;
  }

  .paper-plane,
  .search,
  .bag {
    height: 27px;
  }

  .paper-plane {
    background-size: 1.7rem;
  }

  .search {
    background-size: 1.4rem;
  }

  .bag {
    background-size: 1.3rem;
  }

  .bag-count {
    top: 20%;
    width: 16px;
    right: -60%;
    height: 16px;
    font-size: 0.6rem;

    span {
      margin: 13% 0 0 1%;
    }
  }

  .slick-track {
    height: 436px;
  }

  .slide-1 {
    background-image: url(/images/principal_banner_mobile.jpg);
  }

  .slide-2 {
    background-image: url(/images/principal_banner_mobile_02.jpg);
  }

  .gridBanner {
    align-items: flex-end;
  }

  .product-description {
    height: 49%;
    width: unset;
    display: flex;
    margin-top: unset;
    grid-column: 1/-1;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.69);
    padding: 7%;

    .banner-title,
    .banner-price,
    .banner-text {
      width: 100%;
      text-align: right;
    }

    .banner-title {
      font-size: 28px;
      margin: 0;
    }

    .banner-price h2 {
      font-size: 42px;
      margin-bottom: 0;
    }

    .banner-price h3 {
      font-size: 20px;
      margin-left: 2%;
      margin-top: -0.8%;
    }

    .banner-text {
      color: #fff;
      width: 86%;
      font-size: 12px;
    }
  }

  .slide-description {
    grid-area: slide-description-mobile;

    display: flex;
    position: relative;
    // align-items: flex-end;
    // flex-direction: row;
  }

  .slide__description--cointainer {
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .product-name {
    height: 100%;
    background-color: $themeColor-Light;

    p {
      margin: 17%;
      font-size: small;
      font-weight: normal;
      writing-mode: unset;
    }
  }

  .line-background {
    width: 20%;
    height: 100%;
    background-color: $themeColor-Light;
  }

  .line {
    width: 50%;
    height: 1px;
    min-height: 0;
    margin-top: 100%;
    // margin-left: 50%;
    background-color: #fff;
  }

  .slider-button {
    height: 100%;
    justify-self: unset;
    background-color: $themeColor-Dark;

    p {
      margin-left: 0;
      margin-top: 15.5%;
      font-size: 1rem;
      font-weight: 300;
      text-align: left;
      letter-spacing: 0.2rem;
    }
  }

  .slick-next,
  .slick-prev {
    z-index: 1;
    top: 108.5%;
  }

  .slick-next {
    left: 93%;
  }

  .slick-prev {
    left: 81%;
  }

  .more {
    margin-top: 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .more__plus {
      width: 90%;
      height: auto;
      max-height: 38vh;
      padding-top: 5.5%;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 100%;
    }

    .more__plus:hover {
      transform: scale(1.05);
    }
  }

  .shop-items-wrapper {
    margin-top: 8%;
  }

  .shop {
    .featured-products-wrapper {
      margin-top: 10%;
    }

    .shop-items {
      width: 100%;
      align-items: center;
    }
  }

  .shop-items {
    .slide-1,
    .slide-2 {
      background-size: auto;
    }

    .slick-prev:before {
      background-image: url(/svgs/angle-left-solid-mobile.svg);
      background-position: center;
    }

    .slick-next:before {
      background-image: url(/svgs/angle-right-solid-mobile.svg);
      background-position: center;
    }

    .slick-prev.slick-arrow,
    .slick-next.slick-arrow {
      width: fit-content;
    }

    .slick-prev:before,
    .slick-next:before {
      // display: none;
      background-size: 1rem;
      font-size: 50px;
    }

    .slick-prev,
    .slick-next {
      // left: 98%;
      top: 0;
      height: 100px;
      position: static;
    }
  }

  #modal {
    top: -25%;
    width: 53%;
  }
}
